/* 
Integrantes:
Bruno Tai da Cruz Wong
Gabriel de Melo Faustino Santos
Geraldo Vicente do Nascimento Neto
Igor de Almeida Fernandes Barreira 
Jonathan Bruno Tavares de Oliveira 
Matheus Lui Zago 	
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #08090A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    transition: all 0.2s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3185FC;
    padding: 2rem 3rem;
    height: 10rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #FFF;
}

#cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    gap: .5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cadastro:hover {
    background-color: rgb(208, 215, 255);
}

#cadastrar img {
    width: 18px;
}

.menu {
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 99;
    background-color: #FFF;
    overflow-x: hidden;
    padding: 3rem 2rem;
    height: 100%;
    width: 0px;
    transition: 0.5s ease-in;
}

.open {
    right: 0px;
    width: 24rem;
    
}

#fechar {
    cursor: pointer;
}

#menu_titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    width: 100%;
}



input[type=number] {
    width: 7rem;
    padding: .25rem .5rem;
    margin-bottom: .75rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text] {
    width: 14.6rem;
    padding: .25rem .5rem;
    margin-bottom: .75rem;
}

input[type=radio] {
    margin-top: 0.2rem;
    margin-bottom: .75rem;
}


input, textarea {
    border: 1px solid black;
    border-radius: 5px;
}

textarea {
    resize: none;
    font-family: 'Inter', sans-serif;
    padding: .75rem;
}

button[type=submit]{
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #3185FC;
    color: #FFF;
    transition: all 0.2s ease;
}

button[type=submit]:hover {
    cursor: pointer;
    background-color: #5599f8;
}

/* Lista de Imóveis */
p {
    color: var(--text-color)
}

#lista {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem 5rem;
    margin: 1rem 2rem;
}

.imovel {
    padding: 1rem;
    min-width: 22rem;
    max-width: 22rem;
    height: 18rem;
    border-radius: 10px;
    border: 1px solid #25292D;
}

#imovel_tipo {
    font-size: 1rem;
    font-weight: 400;
}

#imovel_endereco {
    width: 19rem;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: .5rem;
}

#imovel_quartos {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

#imovel_descricao {
    font-size: 1.1rem;
    font-size: 500;
    margin-top: 1rem;
}

.informacao {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.informacao img {
    width: 2.3rem;
}

.informacao {
    font-size: 1.5rem;
    font-weight: 600;
}

#imovel_preco {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#imovel_quintal {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#imovel_condominio {
    display: flex;
    align-items: center;
    gap: .5rem;
}